* text=auto !eol
/CMakeLists.txt -text
/CMakeLists.txt.old -text
Documentation/P7.pdf -text svneol=unset#unset
Examples/C/CMakeLists.txt -text
Examples/C/C_Example.c -text
Examples/CMakeLists.txt -text
Examples/Cpp/CMakeLists.txt -text
Examples/Cpp/Main.cpp -text
Examples/Csharp/CMakeLists.txt -text
Examples/Csharp/Program.cs -text
Examples/Csharp/Properties/AssemblyInfo.cs -text
Examples/Csharp/Properties/Settings.Designer.cs -text
Examples/Csharp/Properties/Settings.settings -text
Examples/Python/Example.py -text
Headers/GTypes.h -text
Headers/P7_Client.h -text
Headers/P7_Cproxy.h -text
Headers/P7_Extensions.h -text
Headers/P7_Telemetry.h -text
Headers/P7_Trace.h -text
Headers/P7_Version.h -text
/License.txt -text
/README_EN.txt -text
Shared/AList.h -text
Shared/CRC32.h -text
Shared/DnsResolver.h -text
Shared/IConsole.h -text
Shared/IFile.h -text
Shared/IJournal.h -text
Shared/IMEvent.h -text
Shared/IPerformanceInfo.h -text
Shared/ISignal.h -text
Shared/Length.h -text
Shared/Lock.h -text
Shared/Platforms/Linux_x86/PAtomic.h -text
Shared/Platforms/Linux_x86/PCRC32.h -text
Shared/Platforms/Linux_x86/PConsole.h -text
Shared/Platforms/Linux_x86/PCrashDump.h -text
Shared/Platforms/Linux_x86/PDnsTxtResolver.h -text
Shared/Platforms/Linux_x86/PFile.h -text
Shared/Platforms/Linux_x86/PFileSystem.h -text
Shared/Platforms/Linux_x86/PJournal.h -text
Shared/Platforms/Linux_x86/PLock.h -text
Shared/Platforms/Linux_x86/PMEvent.h -text
Shared/Platforms/Linux_x86/PPerformanceInfo.h -text
Shared/Platforms/Linux_x86/PProcess.h -text
Shared/Platforms/Linux_x86/PProfiler.h -text
Shared/Platforms/Linux_x86/PShared.h -text
Shared/Platforms/Linux_x86/PSharedLib.h -text
Shared/Platforms/Linux_x86/PSignal.h -text
Shared/Platforms/Linux_x86/PSocket.h -text
Shared/Platforms/Linux_x86/PString.h -text
Shared/Platforms/Linux_x86/PSystem.h -text
Shared/Platforms/Linux_x86/PThreadShell.h -text
Shared/Platforms/Linux_x86/PTime.h -text
Shared/Platforms/Windows_x86/PAtomic.h -text
Shared/Platforms/Windows_x86/PCRC32.h -text
Shared/Platforms/Windows_x86/PConsole.h -text
Shared/Platforms/Windows_x86/PDnsTxtResolver.h -text
Shared/Platforms/Windows_x86/PFile.h -text
Shared/Platforms/Windows_x86/PFileSystem.h -text
Shared/Platforms/Windows_x86/PJournal.h -text
Shared/Platforms/Windows_x86/PLock.h -text
Shared/Platforms/Windows_x86/PMEvent.h -text
Shared/Platforms/Windows_x86/PPerformanceInfo.h -text
Shared/Platforms/Windows_x86/PProcess.h -text
Shared/Platforms/Windows_x86/PShared.h -text
Shared/Platforms/Windows_x86/PSharedLib.h -text
Shared/Platforms/Windows_x86/PSignal.h -text
Shared/Platforms/Windows_x86/PSocket.h -text
Shared/Platforms/Windows_x86/PString.h -text
Shared/Platforms/Windows_x86/PSystem.h -text
Shared/Platforms/Windows_x86/PThreadShell.h -text
Shared/Platforms/Windows_x86/PTime.h -text
Shared/Predicate.h -text
Shared/QStringHelper.h -text
Shared/RBTree.h -text
Shared/SharedLib.h -text
Shared/Ticks.h -text
Shared/UDP_NB.h -text
Shared/UTF.h -text
Shared/WString.h -text
Sources/CMakeLists.txt -text
Sources/CRC32.cpp -text
Sources/ClBaical.cpp -text
Sources/ClBaical.h -text
Sources/ClFile.cpp -text
Sources/ClFile.h -text
Sources/ClNull.cpp -text
Sources/ClNull.h -text
Sources/ClText.cpp -text
Sources/ClText.h -text
Sources/ClTextConsole.h -text
Sources/ClTextFile.h -text
Sources/ClTextSink.h -text
Sources/ClTextSyslog.h -text
Sources/Client.cpp -text
Sources/Client.h -text
Sources/Common.h -text
Sources/CommonClient.h -text
Sources/Formatter.h -text
Sources/PacketsPool.h -text
Sources/Proxy.cpp -text
Sources/TPackets.h -text
Sources/Telemetry.cpp -text
Sources/Telemetry.h -text
Sources/Trace.cpp -text
Sources/Trace.h -text
Sources/resource.h -text
Sources/targetver.h -text
Tests/CMakeLists.txt -text
Tests/Speed/CMakeLists.txt -text
Tests/Speed/Speed.cpp -text
Tests/Trace/CMakeLists.txt -text
Tests/Trace/Main.cpp -text
Wrappers/C#/P7.cs -text
Wrappers/Py/P7.py -text
Wrappers/Py/__init__.py -text
/changelog.txt -text
